* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*:root {
    /* --heading-background-color: #f06; */
/* --heading-text-color: #333; */
/* --heading-font: 'Montserrat', Helvetica, sans-serif; */
/* --padding: 1rem; */
/* --border: 1px solid rgb(0 0 0 / 0.1); */
/* }     */

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1x solid rgb(204, 16, 16);
    padding: 2px;
    box-shadow: 0 0 30px rgb(3, 20, 117);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1x solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

/* ==========notes about creating variables========== */
/* ==========how to create them========== */

/*:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

/* Some example variable use in the declarations. */

/*h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

/* =========Comments for W03========= */
/* =========Class Selectors========= */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}